.auth-container {
  background-color: #f0f0f0;
  width: 300px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px #ccc;
}

.auth-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

.submit-btn {
  background-color: yellow;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}
